@import url(./index.css);
@import url(./cursos.css);
@import url(./contato.css);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    background-color: #99728b	;
    font-family: 'Roboto', sans-serif;
    color: #D3D3D3;
}



.tit-sec{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 3rem;
    margin-top: 2rem;
    color: #fbfbfb;
    margin-bottom: 2rem;
}

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15rem;
    background-color: #000;
    background-size: cover;
    width: 100vw;

}

.cabecalho img {

    width: 30rem;

}

#nav-container {
    width: 100%;
}

.navegacao {
    background-color: #1C1C1C;
    display: flex;
    justify-content: space-around;
    width: 100vw;
    flex-wrap: wrap;
}

.navegacao a {
    text-decoration: none;
    font-size: 1.50rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #D3D3D3;
    text-align: center;
}

.navegacao a:hover {
    color: #fff;
}
#htmlS {
    color: #FFB6C1;
    font-weight: bolder;
}

#htmlS:hover {
    color: #fbfbfb;
}

.rodape {
    width: 100vw;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000;
   
}

#logo{
    margin-left: 15px;
}
.rodape img {
    width: 5rem;

}


.social a {
    margin-left: 100px;
    padding-right: 5px;
}

nav.social{
    opacity: 90%;
    margin-right: 30px;

}
@media (max-width:500px) {
    section>p {
        width: 90%;
    }
}

@media (max-width:900px) {
    .navegacao a {
        font-size: 1rem;
    }

    .rodape {
        flex-direction: column;
        padding-bottom: 2rem;
    }
}

@media (max-width:1100px) {
    .first-line {
        flex-direction: column;
    }

    .first-line p {
        text-align: center;
    }

    .first-line img {
        max-width: 90%;
    }

    .second-line {
        flex-direction: column-reverse;
    }

    .second-line p {
        text-align: center;
    }

    .second-line img {
        max-width: 90%;
    }

    h2 {
        max-width: 90%;
        text-align: center;
    }
}